<% content_for :body_content_title do %>
  <%= t('.search_results_for', :what => params[:query]) %>
<% end %>

<% content_for :body_content_left do %>
  <ul id="search_results">
    <% @results.each do |result| %>
      <li>
        <span class='result_type'>
          <%= result.class.to_s.titleize %>
        </span>
        <%= link_to raw(result.title.gsub(/(#{params[:query]})/i,'<mark>\1</mark>')), result_url(result) %>
      </li>
    <% end %>
  </ul>

<% end %>

<%= render :partial => "/refinery/content_page" %>
